.categoryWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9b0d1;
  position: relative;
  font-family: Poppins;
}

.categoryWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryImage {
   margin-bottom: 46px;
  height: 550.4px;
  width: 344px;
}

.categoryWrapper h1 {
  font-size: 53px;
  margin-bottom: 46px;
  color: #006986;
}

.category {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 100px;
}

.categoryLists {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.categoryList {
  list-style-type: none;
}

.categoryLists p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.imgWrapper {
  background-color: #7a3272;
  padding: 20px 20px;
  border-radius: 50%;
}

.categoryArrow {
  /* width: 16.92px;
  height: 21.87px; */
  font-size: 24px;
  margin: 20px 0;
  color: #006986;
}
