body {
    background-color: rgb(180, 231, 252);
    font-family: Poppins;
}

/* Hero Part */
.openSpaces {
    height: 200px
}

.doubleImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.leftSide {
    width: 30%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.leftSide h2 {
    font-size: 3rem;
}

#vectorUse {
    width: 40px;
    position: absolute;
    left: 37%;
    top: 38%;
}

#lineUse {
    position: absolute;
    left: 30%;
    width: 50px;
}

.leftSideP {
    padding-top: 20px;
    font-size: 1.3rem;
    text-align: left;
}

.leftsideButton {
    padding-top: 5%;

}

.leftSide button {
    width: 50%;
}

.rightSide {
    width: 40%;
    margin-right: 0;
}

#hero {
    width: 70vh;
    padding-bottom: 0;
}

/* Boxes Part */
.boxes {
    background-color: #E4BEE0;
    border-radius: 0 0 20px 20px;
    padding: 20px 10px 30px 10px;
}

.threeBoxes {
    display: flex;
    justify-content: center;
    color: black;
}

.box {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.box p {
    padding: 0 0 15px 0;
    line-height: 23px;
}

.box-content {
    padding: 10px 0 20px 0;
}

.box-content img {
    width: 30px;
    vertical-align: middle;
}

/* Meet Team Part */

.headings {
    text-align: center;
    padding: 20px 0 100px;
    font-size: 1.5rem;
    margin: 20px;
}

.headings h2 {
    font-size: 2.2em;
}

#vectorUse2 {
    width: 40px;
    position: absolute;
    left: 64%;
    bottom: -68%;
}

#lineUse2 {
    position: absolute;
    left: 50%;
    width: 17%;
    bottom: -65%;
}

.teamDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    position: relative;
    margin-top: 30px;
}

.members {
    width: calc(20% - 10px);
    margin: 10px;
    padding: 3px;
    box-sizing: border-box;
    border-right: 1px solid black;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

.eachMember {
    background-color: #E4BEE0;
    border-radius: 30px;
    width: 200px;
    margin-left: 50px;
}

.eachMember h3 {
    background: none;
    padding-top: 10px;
    color: black;
}

.eachMember p {
    font-size: 12px;
    padding-top: 5px;
}

.memberPic {
    position: absolute; 
    bottom: 50%; 
    left: 58%; 
    transform: translateX(-50%);
    width: 75%; 
    z-index: 1; 
}

.picSpace{
    height: 100px;
}

.memberPic img{
    width: 100%;
}

.socials img{
    vertical-align: middle;
    padding: 10px 0 20px;
    cursor: pointer;
}











.lastly {
    text-align: center;
}

.lastly img {
    width: 90%;
}

.lastly h3 {
    color: #006986;
    background: none;
    font-size: 1.5rem;
    padding: 10px;
    padding-bottom: 10px;
}

.lastly button {
    margin-top: 10px;
    width: 10%;
}

.lastly button a {
    text-decoration: none;
}