.forgotWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../../assets/authenticationBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 15%;
}
.forgotWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.forgotForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  padding: 20px 20px;
  color: black;
  width:600px;
  height: 600px;
  top: 81px;
  left: 322px;
  
}

.forgotSpace {
  margin-bottom:10px;
  margin-left: -10px;
  font-size: 30px;
  text-align: center;
  color: #1a7893;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Port Lligat Sans;
}

.forgotContainer {
  display: flex;
  justify-content: space-between;
}

.forgotContainer div.inputBox {
  width: 48%;
}

.forgotStyle {
  margin: 5px;
  width: 70px;
}

.headerLink {
  text-decoration: none;
}

.forgotWrapper h2 {
  font-size: 19px;
  text-align: center;
}
.forgotWrapper .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 35px 0;
}
.inputBox label {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
  color: #292929;
  font-size: medium;
  width: 86px;
  height: 24px;
  top: 580.71px;
  left: 456px;
}
.inputBox input {
  background: transparent;
  border-radius: 12px;
  padding: 20px 45px 20px 20px;
  border: 2px solid #515151;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 515px;
  height: 55px;
  top: 610.61px;
  left: 456.5px;
  border: 1px 0px 0px 0px;
}

#email {
  width: 527px;
  height: 55px;
  background: transparent;
  border-radius: 12px;
  padding: 20px 45px 20px 20px;
  border: 2px solid black;
  font-size: 16px;
}

.forgotWrapper .forgotSubmit {
  background: #eec04b;
}

.forgotTextWrap .forgotText {
  font-size: 32px;
  color: #333333;
  font-family: Baloo 2;
  font-weight: 600;
  line-height: 51.26px;
  text-align: center;
}

.forgetLine {
  width: 373px;
  height: 72px;
  top: 428.71px;
  left: 534px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.inputFieldWrapper {
  width: 527px;
  height: 55px;
  margin-bottom: 100px;
}

.closeIcon {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
}
