.navWrapper {
  font-family: Poppins;
  width: 100%;
  /* background-color: #863476; */
  /* background-image: linear-gradient(to right, #863476, #07c9c6); */
  position: fixed;
  left: 0;
  z-index: 999;
}
.maxWidth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  /* background-color: #863476; */
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1030px;
  background-color: #07c9c6;
  gap: 20px;
  padding: 13px 70px;
  border-radius: 5px;
  margin-right: 100px;
  margin: 30px 0;
}

.navList {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 24px;
  line-height: 36px;
  cursor: pointer;
}

.navLists {
  width: 150px;
  padding: 3px 10px;
  border: 0.4px solid #863476;
  text-align: center;
  gap: 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
}

.navLists:hover {
  /* background-color: #863476; */
  color: #863476;
}

.navLogo {
  position: absolute;
  top: -49px;
  left: 90px;
}

.link {
  text-decoration: none;
}


.profileWrapper {
  width: 47.73px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-right: 45px;
  
}

.profileImg {
  width: 46.11px;
  height: 46.11px;
  margin-bottom: 8px;
}

.userText {
  text-align: center;
  font-size: 7.52px;
  line-height: 9px;
  color: #42fffc;
}

.userText2 {
  text-align: center;
  font-size: 7.52px;
  line-height: 9px;
  color: #863476;
}