* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: none;
    background-color: rgb(175, 229, 250);
    font-family: Poppins;
}

/*Upper Side*/

.tripleImg {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSideImg {
    padding: 5px;
}

#bug {
    width: 50px;
    margin-left: 30px;
    margin-top: 20px;
}

.middleSideImg {
    position: relative;
    display: inline-block;
}

#vector {
    width: 58%;
    margin-left: 40%;
    margin-top: 10%;
}

.overlay-text {
    position: absolute;
    top: 65%;
    right: -10%;
    font-weight: bold;
    font-family: Poppins;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8em;
    z-index: 1;
    background: none;
}

.lastImg {
    position: relative;
    display: inline-block;
    top: 40%;
}

#shape {
    width: 65%;
    margin-left: 40%;
    margin-top: 1px;
    height: 100%;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 50%;
}

.textArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texts{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-weight: bold;
}

.texts p{
    color: #863976;
}

.p2{
    margin-top: 10px;
}

.firstImg{
    position: absolute;
    left: 12%;
    bottom: -5%;
}

.hybrid{
    width: 70px;
}

.secondImg{
    position: absolute;
    right: 8%;
    top: 78%;
}

.hyb{
    width: 55px;  
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
}

.buttons button{
    width: calc(30% - 10px);
}

/*Lower Side*/

.boxes{
    background-color: #863976;
    border-radius: 30px;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
}

.boxes > h2{
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

.threeBoxes{
    display: flex;
    justify-content: center;
    color:#863976;
}

#key{
    position: absolute;
    bottom: -135%;
    left: 7%;
    width: 70px;
}

.box{
    flex: 0 0 calc(30% - 20px);
    padding: 20px; 
    margin: 10px;
    background-color: #EDEFE8;
    border-radius: 20px;
    text-align: center;
}

.box img{
    width: 60%;
}

.box p{
    font-size: 13px;
}

.remains{
    margin: auto;
    text-align: center;
}

.remains h3{
    width: 45%;
    margin: auto;
    background: none;
    color: #006986;
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
}

.others{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.remainsButton{
    width: 15%;
}

.remainsButton > button{
    font-size: 12px;
    border-radius: 10px;
}

.lastly{
    text-align: center;
    padding: 30px;
}

.lastly img{
    width: 70px;
}


