body{ 
    background-image: url('../../assets/authenticationBackground.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
       background-position: center;
       margin-right: 15%;
 }
.loginWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
 
}
.formWrap{
width: 420px;
background: white;
color: black;
border-radius: 20px;
padding: 30px 40px;

}

.loginWrapper .imageSpace {
    bottom: 3px;
    font-size: 30px;
    text-align: center;
    color: #1A7893;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.imageStyle{
   
    float: left;
    margin: 5px;
    bottom: 50%;
     width:70px;
     
}
.loginWrapper h2{
    font-size: 19px;
text-align: center;
}
.loginWrapper .inputBox{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 35px 0 ;
}
.inputBox label {
    display: flex;
    flex-direction: column;
    align-items:left;
    padding: 0;
    color: grey;
    font-size: medium;
}
.inputBox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 12px;
    padding: 20px 45px 20px 20px;
    border: 2px solid black;
    font-size: 16px;
 

}

.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translateY(-50%);
    font-size: 16px;
    color: grey

}

.loginWrapper .rememberForgot {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin: -15px 0 15px;
    
}

.rememberForgot label input {
    accent-color: black;
    margin-right: 4px;
}

.rememberForgot a {
    color: black;
    text-decoration: none;
    font-size: medium;
}

.rememberForgot a:hover{
    text-decoration: underline;
}

.loginWrapper .submit{
    width: 100%;
    height: 45px;
    background: #006987;
    opacity: 0.2;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
   margin-bottom: 7%;
}
.loginWrapper .submit:hover{
    background: #006987;
    opacity: 1;
}

.faceBook, .gooGle{
    position:relative;
    color: blue;
    right: 5px;
    top: 5%;
   
}

.fab, .fog {
    width: 100%;
    height: 45px;
    background: white;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 5%;
}
.loginWrapper .registerLink{
    font-size: medium;
    text-align: center;
    margin: 20px 0 15px ;
}

.registerLink p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.registerLink p a:hover {
    text-decoration: underline;
}

.orLine{
    display: flex;
    align-items: center;
    justify-content: center;
   position: relative;
    
}
.wfull{
    width: 100%;
    position: absolute;
    color: black;
}
.orText{
    background: white;
    z-index: 2;
    padding: 5px;
}
.closeIcon{
    position: relative;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: black
}

.imageStyle{
   bottom: 50%;
    width:70px;
    
}