.signWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("./../../../assets/userBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Poppins;
  height: 100vh;
}

.formWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 795px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  border-radius: 20px;
  padding: 40px 40px;
  color: black;
}

.signSpace {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #1a7893;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Port Lligat Sans;
}

.signContainer {
  display: flex;
  justify-content: space-between;
}

.signContainer div.inputBox {
  width: 48%;
}

.imgStyle {
  margin: 5px;
  width: 70px;
}

.headerLink {
  text-decoration: none;
}

.signWrapper h2 {
  font-size: 19px;
  text-align: center;
}
.signWrapper .inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 35px 0;
}
.inputBox label {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0;
  color: grey;
  font-size: medium;
}
.inputBox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 12px;
  padding: 20px 45px 20px 20px;
  border: 2px solid #515151;
  font-size: 16px;
}

#email {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 12px;
  padding: 20px 45px 20px 20px;
  border: 2px solid black;
  font-size: 16px;
}

.signWrapper .signSubmit:hover {
  background: #eec04b;
  opacity: 1;
}

.faceBook,
.gooGle {
  position: relative;
  color: blue;
  right: 10px;
  top: 10%;
}

.signWrapper .signLink {
  font-size: medium;
  text-align: center;
  margin: 20px 0 15px;
}

.signTextWrap .upText {
  font-size: 32px;
  color: #333333;
}

.inputFieldWrapper {
  width: 528px;
  height: 315.94px;
}

.signLink span a {
  color: #333333;
  text-decoration: unset;
  font-weight: 600;
  font-size: 16px;
}

.signLink span:hover {
  text-decoration: underline;
}

.orLine {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 30px;
}
.wfull {
  position: absolute;
  width: 80%;
  color: black;
}
.orText {
  background: white;
  z-index: 2;
  padding: 5px;
}
.closeIcon {
  position: relative;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
}
